body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    padding: 50px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.todo-container h1 {
    margin-bottom: 30px;
    color: #181818;
}

.todo-container h2 {
    margin-bottom: 10px;
    color: #353232;
}

#new-task, #search-task {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#add-task-btn {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    /* justify-content: center;
    align-items: center; */
}

#add-task-btn:hover {
    background-color: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    margin: 0;

}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    /* overflow: hidden; */
   
}
li span{
    flex-grow: 1;
    margin-right: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;

}
li.completed span {
    text-decoration: line-through;
    color: #888;
}
/* li.completed button{
    text-decoration: none;
} */

button {
    background-color: #d9534f;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px;
    
} 
#search-task{
    width: 100%;
    border: 1px solid #ddd
}
#filter-tasks{
    width:calc(100%-22px);
    padding:10px;
    border:1px solid #ddd


 
}
#search-button {
    background-color: #171817;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px;
    
} 
#search-button:hover {
    background-color: #504e4e;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
    cursor: pointer;
}
#no-tasks{
    display:none;
    color:#888
    
}
/* Медиазапросы для адаптивности */
@media (max-width: 600px) {
    .todo-container {
        padding: 15px;
    }

    #new-task, #search-task, #filter-tasks {
        width: 100%;
        font-size: 14px;
    }

    #add-task-btn {
        font-size: 14px;
    }

    li {
        flex-direction: column;
        padding: 10px 5px;
    }

    li span {
        white-space: normal;
        text-align: left;
        font-size: 14px;
    }

    button {
        margin-top: 5px;
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .todo-container {
        padding: 30px;
    }

    #new-task, #search-task, #filter-tasks {
        width: 100%;
        font-size: 16px;
    }

    #add-task-btn {
        font-size: 16px;
    }

    li span {
        font-size: 16px;
    }

    button {
        width: 100%;
        font-size: 16px;
    }
}

